html, body {
  font-family: "Dongle", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #000000; /* GhostWhite */
  --bg-secondary: #000000; /* White */
  --clr1:255, 182, 193; /* LightPink */
  --clr2: 255, 182, 193;/* PaleTurquoise */
  --clr3: 255, 182, 193; /* Khaki */
  --clr4: 255, 182, 193; /* PaleGreen */
  --clr5: 255, 182, 193; /* Plum */
  --clr6: 255, 182, 193; /* NavajoWhite */
  --clr7: 255, 182, 193; /* PaleVioletRed */
  --clr8: 255, 182, 193; /* LightBlue */
  --clr9: 255, 182, 193; /* Lavender */
  --interactive-clr: 255, 192, 203; /* Pink */
  --circle-diameter: 60%;
  --blend-mode: hard-light;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes verticalMove {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes horizontalMove {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--bg-primary), var(--bg-secondary));
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradient-layers {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .layer1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr1), 0.8) 0,
        rgba(var(--clr1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: center center;
    animation: verticalMove 30s ease infinite;

    opacity: 1;
  }

  .layer2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr2), 0.8) 0,
        rgba(var(--clr2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: calc(50% - 400px);
    animation: rotateCircle 20s reverse infinite;

    opacity: 1;
  }

  .layer3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr3), 0.8) 0,
        rgba(var(--clr3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 200px);
    left: calc(50% - var(--circle-diameter) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: rotateCircle 40s linear infinite;

    opacity: 1;
  }

  .layer4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr4), 0.8) 0,
        rgba(var(--clr4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 500px);
    left: calc(50% - var(--circle-diameter) / 2 - 800px);

    transform-origin: center center;
    animation: verticalMove 20s ease-in-out infinite;

    opacity: 1;
  }

  .layer5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr5), 0.8) 0,
        rgba(var(--clr5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: center center;
    animation: horizontalMove 30s ease infinite;

    opacity: 1;
  }

  .layer6 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr6), 0.8) 0,
        rgba(var(--clr6), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 300px);
    left: calc(50% - var(--circle-diameter) / 2 - 600px);

    transform-origin: center center;
    animation: verticalMove 50s ease infinite;

    opacity: 1;
  }

  .layer7 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr7), 0.8) 0,
        rgba(var(--clr7), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 - 200px);
    left: calc(50% - var(--circle-diameter) / 2 - 500px);

    transform-origin: center center;
    animation: horizontalMove 60s linear infinite;

    opacity: 1;
  }

  .layer8 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr8), 0.8) 0,
        rgba(var(--clr8), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 400px);
    left: calc(50% - var(--circle-diameter) / 2 - 700px);

    transform-origin: center center;
    animation: verticalMove 70s linear infinite;

    opacity: 1;
  }

  .layer9 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr9), 0.8) 0,
        rgba(var(--clr9), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 - 300px);
    left: calc(50% - var(--circle-diameter) / 2 - 600px);

    transform-origin: center center;
    animation: horizontalMove 80s ease-in-out infinite;

    opacity: 1;
  }
}

.interactive-layer {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--interactive-clr), 0.8) 0,
      rgba(var(--interactive-clr), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blend-mode);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}