html, body {
  font-family: "Dongle", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}

:root {
  --bg-primary: #000000; /* GhostWhite */
  --bg-secondary: #000000; /* White */
  --clr1: 255, 182, 193; /* LightPink */
  --clr2: 175, 238, 238; /* PaleTurquoise */
  --clr3: 240, 230, 140; /* Khaki */
  --clr4: 152, 251, 152; /* PaleGreen */
  --clr5: 221, 160, 221; /* Plum */
  --clr6: 255, 222, 173; /* NavajoWhite */
  --clr7: 219, 112, 147; /* PaleVioletRed */
  --clr8: 173, 216, 230; /* LightBlue */
  --clr9: 230, 230, 250; /* Lavender */
  --interactive-clr: 255, 192, 203; /* Pink */
  --circle-diameter: 60%;
  --blend-mode: hard-light;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes verticalMove {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes horizontalMove {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(40deg, var(--bg-primary), var(--bg-secondary));
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradient-layers {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .layer1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr1), 0.8) 0,
        rgba(var(--clr1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: center center;
    animation: verticalMove 30s ease infinite;

    opacity: 1;
  }

  .layer2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr2), 0.8) 0,
        rgba(var(--clr2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: calc(50% - 400px);
    animation: rotateCircle 20s reverse infinite;

    opacity: 1;
  }

  .layer3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr3), 0.8) 0,
        rgba(var(--clr3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 200px);
    left: calc(50% - var(--circle-diameter) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: rotateCircle 40s linear infinite;

    opacity: 1;
  }

  .layer4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr4), 0.8) 0,
        rgba(var(--clr4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 500px);
    left: calc(50% - var(--circle-diameter) / 2 - 800px);

    transform-origin: center center;
    animation: verticalMove 20s ease-in-out infinite;

    opacity: 1;
  }

  .layer5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr5), 0.8) 0,
        rgba(var(--clr5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2);
    left: calc(50% - var(--circle-diameter) / 2);

    transform-origin: center center;
    animation: horizontalMove 30s ease infinite;

    opacity: 1;
  }

  .layer6 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr6), 0.8) 0,
        rgba(var(--clr6), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 300px);
    left: calc(50% - var(--circle-diameter) / 2 - 600px);

    transform-origin: center center;
    animation: verticalMove 50s ease infinite;

    opacity: 1;
  }

  .layer7 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr7), 0.8) 0,
        rgba(var(--clr7), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 - 200px);
    left: calc(50% - var(--circle-diameter) / 2 - 500px);

    transform-origin: center center;
    animation: horizontalMove 60s linear infinite;

    opacity: 1;
  }

  .layer8 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr8), 0.8) 0,
        rgba(var(--clr8), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 + 400px);
    left: calc(50% - var(--circle-diameter) / 2 - 700px);

    transform-origin: center center;
    animation: verticalMove 70s linear infinite;

    opacity: 1;
  }

  .layer9 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--clr9), 0.8) 0,
        rgba(var(--clr9), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blend-mode);

    width: var(--circle-diameter);
    height: var(--circle-diameter);
    top: calc(50% - var(--circle-diameter) / 2 - 300px);
    left: calc(50% - var(--circle-diameter) / 2 - 600px);

    transform-origin: center center;
    animation: horizontalMove 80s ease-in-out infinite;

    opacity: 1;
  }
}

.interactive-layer {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--interactive-clr), 0.8) 0,
      rgba(var(--interactive-clr), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blend-mode);

  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;

  opacity: 0.7;
}
.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background-color: transparent; /* Initially transparent */
  box-shadow: none; /* No shadow initially */
}
.navbar.scrolled {
  background-color: white; /* Change to white background on scroll */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on scroll */
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  transition: color 0.3s; 
  font-family: Arial, sans-serif; 
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 18px;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 18px;
}

nav ul li a {
  text-decoration: none;
    color: black;
    margin: 0 10px;
    transition: color 0.3s; 
    font-family: Arial, sans-serif; 
    font-weight: 600; 
    text-transform: uppercase; 
    
}

nav ul li a:hover {
  color: #fff;
}


section {
  min-height: 100vh;
  /* padding: 10rem 7% 2rem; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.home {
  display: flex;
  align-items: center;
background-size: cover; 
background-repeat: no-repeat; 
position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-content h3 {
  font-size: 75px;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  opacity: 0; /* Initially hidden for animation */
  animation: fadeInUp 1s ease-out forwards;
}

.home-content  {
      
  color:rgb(0, 0, 0);
  font-family: Arial, sans-serif; 
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 15px;
}





